
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%) */
:root {
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:var(--Very-Light-Grayish-Blue);
}
.price {
    color: var(--Grayish-Blue);
    margin-top: 10%;
    margin-bottom: 15%;
    font-size: 2.5rem;
}
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--Light-Grayish-Blue);
    margin-bottom: 15%;
    font-size: 1rem;
}


.button .butt {
    background-color: var(--Light-Grayish-Blue);
    width: 100px;
    height: 35px;
    
}
.combine {
    display: flex;
    gap: 20rem;
    justify-content: center;
}

.combine .div1 {
    background: pink;
}
.div1 .dollar {
    color: red;
}

